body {
    font-family: "Microsoft YaHei", sans-serif;
    background: #f5f5f5;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #0078d7;
    color: white;
    padding: 2em 0;
  }
  